.link-news {
  color: black;  
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  &:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #00f; /* Change text color on hover */
  }
}

.link-headline-header {
  color: black;  
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  &:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #00f; /* Change text color on hover */
  }
}

.link-headline-news {
  color: black;  
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  &:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #00f; /* Change text color on hover */
  }
}

.headline-image {
  width: 100%;
  height: auto;
  margin: 0px, 0px, 10px, 0px;
  margin-bottom: 15px;

}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.custom-line {
  border: 1.5px solid #ccc; /* Customize the line color, width, and style */
}

.centered-container {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerStyle {
  position: relative;
  max-width: 100%;
}

.image-text-style {
  position: absolute;
  left: 10%;
  bottom: 1%;
  transform: translate(-10%, -10%);
  color: white;
  &:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #00f; /* Change text color on hover */
}
}

.headline-text-font {
  font-size: 24px;
  font-weight: 700;
}

.frontpic-text-font {
  font-size: 17px;
  font-weight: 700;
}

.overlay-style {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Adjust the heightto control the darkness */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  pointer-events: none; /* Allows interaction with elements beneath the overlay */
}

.headline-news-image {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
  &:hover {
    opacity: 0.8; /* Adjust the opacity on hover */
  }
}
